<h2><%= @result["Title"] %> (<%= @result["Year"] %>)</h2>

<% if @result["Poster"] == "N/A" || @result["Poster"].nil? %>
<p>No image found.</p>
<% else %>
<img src="<%= @result["Poster"] %>" alt="Movie poster for <%= @result["Title"] %>" title="Movie poster for <%= @result["Title"] %>">
<% end %>

<p>
  <%= @result["Plot"] %>
</p>

<dl>
  <dt>
    Rating
  </dt>
  <dd>
    <%= @result["Rated"] %>
  </dd>
  <dt>
    Runtime
  </dt>
  <dd>
    <%= @result["Runtime"] %>
  </dd>
  <dt>
    Genre
  </dt>
  <dd>
    <%= @result["Genre"] %>
  </dd>
    <dt>
    IMDB Rating
  </dt>
  <dd>
    <%= @result["imdbRating"] %> (<%= @result["imdbVotes"] %> votes)
  </dd>
  <dt>
    Actor<%= @actors.length > 1 ? "s" : "" %>
  </dt>
  <dd>
    <ul>
      <% @actors.each do |actor| %>
        <li><%= actor %></li>
      <% end %>
    </ul>
  </dd>
  <dt>
    Director<%= @directors.length > 1 ? "s" : "" %>
  </dt>
  <dd>
    <ul>
      <% @directors.each do |director| %>
        <li><%= director %></li>
      <% end %>
    </ul>
  </dd>
  
</dl>